.color1 {background: #2ECCFA;}
.color2 {background: #FF00DC;}
.color3 {background: #01FFFF;}
.color4 {background: #FFD800;}
.color5 {background: #FFFFFF;}
.color6 {background: #E6E6E6;}

.col-xs-4 {padding: 10;}
.col-xs-4 {padding: 10;}

.bloques{
	background-color: #ffffff;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: -0.625rem; // for us 0.625rem == 10px
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

@media (max-width: 33.9em){ // this is for our mobile layout where columns stack
    .raised-block {
        margin-left: -0.625rem;
    }
}
.row [class^="col-"]:first-child>.raised-block {
    // this is so the first column has no margin so it will not be "indented"
    margin-left: -0.625rem;
}

.box {
    padding: 0 5px 0 5px;
}

.raised-block {
    background-color: #fff;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: -0.625rem; // for us 0.625rem == 10px
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}